body{
  background-color: white;
  display: flex;
  justify-content: center;

  font-family: "Nunito", sans-serif;
}

#app{
  width: 100%;
}

.wrapper{
  width: 100%;
  display: flex;
  justify-content: center;
}


.wrapper > *{
  max-width: 1200px;
}


.link{
  color: rgb(78, 78, 78);
  cursor: pointer;
}

.link:hover{
  text-decoration: underline;
}

svg{
  width: 100%;
  height: 100%;
}

.nunito{
  font-family: "Nunito", sans-serif;
}

.roboto{
  font-family: "Roboto", sans-serif;
}

.all-roboto, .all-roboto *{
  font-family: "Roboto", sans-serif;
}

.all-nunito, .all-nunito *{
  font-family: "Nunito", sans-serif;
}